@model OnTap.ViewModels.BarSpecialsViewModel
@{
    ViewBag.Title = "AddSpecial";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel panel-warning" style="margin-top: 10px;">
    <h2>Current Specials</h2>
    @if (!Model.Bar.Specials.Any())
    {
        <text>Sorry, you currently have no Specials</text>
    }
    else
    {
        <table id="specials" class="table table-condensed table-hover panel-warning" style="margin-bottom: 15px; border:none;">
            <thead class="panel-heading panel-warning">
                <tr>
                    <th>Day</th>
                    <th>Special Description</th>
                    <th>Delete Special</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var special in Model.Bar.GetSpecials)
                {
                    <tr>
                        <td>@special.DayOfWeek.DayOfWeekName </td>
                        <td>@special.SpecialDescription</td>
                        <td>
                            <button data-special-id="@special.Id" class="btn btn-link js-delete">Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    </div>
    <div class="panel panel-warning" style="margin-top: 10px;">
        <h2>Add Special</h2>
        @using (Html.BeginForm("AddSpecial", "Bar", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <table id="" class="table table-condensed panel-warning" style="margin-bottom: 15px; border:none;">
                <thead class="panel-heading panel-warning">
                    <tr>
                        <th>Day</th>
                        <th>Special Description</th>
                        <th>Add Special</th>
                </thead>
                <tbody>
                    <tr>
                        <td class="form-group">
                            @Html.DropDownListFor(m => m.Special.DayOfWeekId, new SelectList(Model.DayOfWeeks, "Id", "DayOfWeekName"), "Select Day", new { @class = "form-control" })
                        </td>
                        <td class="form-group">
                            @Html.TextBoxFor(m => m.Special.SpecialDescription, new { @class = "form-control col-md-4 control-label", })
                        </td>
                        <td>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-5">
                                    <input type="submit" class="btn btn-default" value="Add" />
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            @Html.HiddenFor(m => m.Bar.Id)
        }
    </div>

    <script>
        $(document).ready(function () {
            //$('#specials').DataTable();
            $('#specials').on('click', '.js-delete', function () {
                var button = $(this);
                bootbox.confirm("Are you sure you want to delete special?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "../../api/specials/" + button.attr("data-special-id"),
                            method: "DELETE",
                            success: function () {
                                button.parents("tr").remove();
                                console.log("SUCCESS")
                            }
                        });
                    }
                });
            });
        });
    </script>


